.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
}
.title {
    font-size: 24px; 
    font-weight: bold;
    color: #333;
    position: fixed; 
    top: 1px; 
    left: 263px;
    z-index: 1000; 
}
.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.item {
    width: 250px;
    height: 370px; 
    margin-top: 80px;
    color: black; 
    border-radius: 15px; 
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease; 
    overflow: hidden; 
    margin-bottom: -50px;
}
.checkIcon {
    color: #4CAF50; 
    margin-right: 5px;
    vertical-align: middle;
}
.crossIcon{
    color:red;
    margin-right: 5px;
    vertical-align: middle;
}
.item:hover {
    border-color: gray; 
    transform: translateY(-5px);
}

.imager {
    position: relative;
}

.serialnumber {
    font-size: 12px;
    position: absolute;
    left: 24px;
}
.imager img {
    width: 100%; 
    height: auto;
    max-width: 250px; 
    max-height: 180px;
    object-fit: cover; 
}
.additional {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    bottom: 10px; 
    opacity: 1;
    left: 0; 
}

.name {
    margin-top: 7px;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    padding: 10px; 
    color: #666666;
    font-weight: bold;
}

.price {
    font-size: 18px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    position: absolute;
    left: 20px;
    border-bottom: 2px solid gray; 
    padding-bottom: 5px; 
}
.newLabel {
    background-color: #be3448; 
    color: white; 
    border-radius: 5px;
    padding: 1px 5px;
    left:8px;
    font-weight: bold;
    position: absolute;
    top:10px;
    font-size: 12px;
}
.actionsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 20px; 
    right: 305px; 
    z-index: 1000;
    gap: 20px; 
}
.sortSelect {
    font-size: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.sortSelect:hover {
    border-color: #666;
}
.cartIcon {
    font-size: 20px; 
    color: white; 
    background-color: gray; 
    border-radius: 10%; 
    padding: 5px;
    position: absolute;
    left:200px;
    top:10px;
}
.stockStatus {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    position: absolute; 
    left: 20px; 
    top: 300px; 
}

.inStock {
    color: #4CAF50;
}

.outOfStock {
    color: red; 
}


.item:hover {
    transform: translateY(-5px); 
}

.date {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    position: absolute; 
    left:20px; 
    top: 330px; 
}

