.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
}
.title {
    font-size: 24px; 
    font-weight: bold;
    color: #333;
    position: fixed; 
    top: 57px; 
    left: 31%; 
    transform: translateX(-50%); 
    z-index: 1000; 
}
.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.item {
    width: 250px;
    height: 370px; 
    margin-top: 100px;
    color: black; 
    border-radius: 15px; 
    border: 2px solid transparent;
    transition: transform 0.3s ease, border-color 0.3s ease; 
    overflow: hidden; 
    margin-bottom: -100px;
}
.checkIcon {
    color: #4CAF50; 
    margin-right: 5px;
    vertical-align: middle;
}
.crossIcon {
    color: red;
    margin-right: 5px;
    vertical-align: middle;
}
.item:hover {
    border-color: gray; 
    transform: translateY(-5px);
}
.imager {
    position: relative;
}
.serialnumber {
    font-size: 12px;
    position: absolute;
    left: 24px;
}
.imager img {
    width: 100%; 
    height: auto;
    max-width: 250px; 
    max-height: 180px;
    object-fit: cover; 
}
.additional {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    bottom: 10px; 
    opacity: 1;
    left: 0; 
}
.name {
    margin-top: 7px;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    padding: 10px; 
    color: #666666;
}
.price {
    font-size: 18px;
    font-family: "Cairo", sans-serif;
    font-weight: 700;
    position: absolute;
    left: 20px;
    border-bottom: 2px solid gray; 
    padding-bottom: 5px; 
}
.newLabel {
    background-color: #be3448; 
    color: white; 
    border-radius: 5px;
    padding: 1px 5px;
    left: 8px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    font-size: 12px;
}
.actionsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 70px; 
    right: 305px; 
    z-index: 1000;
    gap: 20px; 
}
.sortSelect {
    font-size: 15px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
.sortSelect:hover {
    border-color: #666;
}
.cartIcon {
    font-size: 20px; 
    color: white; 
    background-color: gray; 
    border-radius: 10%; 
    padding: 5px;
    position: absolute;
    left: 200px;
    top: 10px;
}
.stockStatus {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    position: absolute; 
    left: 20px; 
    top: 300px; 
}
.inStock {
    color: #4CAF50;
}
.outOfStock {
    color: red; 
}
.date {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    position: absolute; 
    left: 20px; 
    top: 330px; 
}
.content {
    display: flex;
}
.sidebar {
    width: 200px; 
    padding: 60px;
}
.sidebarTitle {
    font-size: 18px;
    margin-bottom: 12px;
    border-bottom: 2px solid gray;
    padding-bottom: 15px; 
    font-family: "Cairo", sans-serif;
}
.categoryList {
    list-style: none;
    padding: 0;
}
.categoryItem {
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}
.categoryItem:hover {
    color: #666; 
}
.mainContent {
    flex-grow: 1; 
    padding: 20px; 
}
.categoryButtons {
    display: flex;
    flex-direction: column;
}
.categoryButton {
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    width: 150%;
    font-family: "Cairo", sans-serif;
}
.categoryButton:hover {
    background-color: #666;
    color: white;
}
.active {
    background-color: #666;
    color: white;
}

@media (max-width: 1354px) {
    .title {
        font-size: 20px; 
        left: 29%;
        transform: translateX(-50%);
    }
    .actionsContainer {
        top: 75px; 
        right: 220px; 
    }
    .sidebar {
        padding: 20px;
        margin-top: 25px;
    }
}
@media (max-width: 1256px) {
    .title {
        font-size: 20px; 
        left: 38%;
        transform: translateX(-50%);
    }
    .actionsContainer {
        top: 75px; 
        right: 280px; 
    }
    .sidebar {
        padding: 20px;
        margin-top: 25px;
    }
}
@media (max-width: 1024px) {
    .title {
        font-size: 20px; 
        left: 36%;
        transform: translateX(-50%);
    }
    .actionsContainer {
        top: 75px; 
        right: 160px; 
    }
    .sidebar {
        padding: 20px;
        margin-top: 25px;
    }
}
@media (max-width: 901px) {
    .title {
        font-size: 15px; 
        left: 48%;
        transform: translateX(-50%);
    }
    .actionsContainer {
        top: 71px; 
        right: 262px; 
    }
    .sidebar {
        padding: 20px;
        margin-top: 25px;
    }
    .sortSelect {
        font-size: 12px;
        padding: 2px 10px;
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 20px; 
        left: 41%;
        transform: translateX(-50%);
    }
    .item {
        width: 90%; 
        margin-bottom: 20px;
    }
    .actionsContainer {
        top: 75px; 
        right: 150px; 
    }
    .sidebar {
        width: 100%; 
        padding: 20px;
        margin-top: 25px;
    }
    .categoryButton {
        width: 100%; 
    }
    .cartIcon {
        font-size: 20px; 
        color: white; 
        padding: 5px;
        position: absolute;
        left: 300px;
        top: 15px;
    }
}
@media (max-width: 480px) {
    .title {
        font-size: 12px; 
        left: 50%;
        transform: translateX(-50%);
        top: 8%;
    }
    .item {
        width: 90%; 
        margin-bottom: 20px;
    }
    .sidebar {
        width: 100%; 
        padding: 20px;
        margin-top: 25px;
    }
    .categoryButton {
        width: 100%; 
    }
    .actionsContainer {
        top: 77px; 
        right: 70px; 
    }
    .sortSelect {
        font-size: 8px;
        padding: 2px 10px;
    }
    .cartIcon {
        padding: 5px;
        position: absolute;
        left: 150px;
        top: 10px;
    }
}
